.align__containers {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 7rem;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 15vh;
   min-height: 80px;
   background-color: var(--orange-first);
}

.header__all {
   display: flex;
   justify-content: space-around;
}

.digte__logo {
   object-fit: cover;
   align-self: flex-start;
}

.header__nav__wrapper {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.menu {
   display: flex;
   gap: 2.5rem;
   padding-left: 1rem;
}

.menu a {
   position: relative;
   color: white;
}

.menu a::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 4px;
   border-radius: 4px;
   background-color: #ffffff;
   top: 1.2rem;
   left: 0;
   transform-origin: right;
   transform: scaleX(0);
   transition: transform 0.3s ease-in-out;
}

.menu a:hover::before {
   transform-origin: left;
   transform: scaleX(1);
}

.header__contact__wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2.5rem;
   color: var(--orange-first);
}

.header__contact__wrapper button {
   background-color: var(--orange-first);
   cursor: pointer;
   color: white;
}

.contact__wrapper__button {
   border: 2px solid white;
   padding: 0.75rem 1rem;
   border-radius: 0.5rem;
}

.contact__wrapper__button:hover {
   background-color: white;
   color: var(--orange-first);
}

.language__dropdown img {
   cursor: pointer;
   width: 2rem;
   height: 2rem;
   position: absolute;
   left: 0;
   transition: 1s;
   margin: 0;
}

.language__dropdown:hover > #lang-2 {
   left: 2.5rem;
}

.language__dropdown:hover > #lang-3 {
   left: 5rem;
}

.selected {
   z-index: 99;
}
